@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");
.container {
  width: 100hh;
  height: 240vh;
  background-color: transparent;
  background-blend-mode: color-burn;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(10, 1fr);
  background-image: url(../images/blurred_background.jpg);
  background-size: cover; }

/*nav bar*/
nav {
  padding: 3px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1; }

li, a {
  display: inline-block;
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  font-family: cursive;
  text-align: center;
  margin-left: 16px; }

a:hover {
  color: white;
  border-radius: 8px; }

a:active {
  background-color: #4CAF50;
  color: white; }

p {
  margin-top: -10px;
  margin-bottom: -5px;
  color: black;
  font-family: 'Lobster', cursive; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px; }

a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none; }

li a:hover, .dropdown:hover .dropbtn {
  background-color: #BE5731; }

li.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.dropdown-content a {
  color: black;
  font-size: 15px;
  padding: 1px 1px;
  margin-left: 0px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown-content a:hover {
  background-color: #BE5731;
  color: white; }

.dropdown:hover .dropdown-content {
  display: block; }

.company_name {
  font-size: 55px;
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px #ff0000; }

/*main img*/
.main_img {
  display: inline-grid;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 5;
  border-radius: 10px; }

/*outdoor activities*/
.outdoor_activities {
  display: block;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 5;
  grid-row-end: 10; }

/*styling of heading*/
#activities_heading {
  display: block;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 7;
  font-size: 40px;
  color: #333333;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px #fff; }

/*activity descriptions*/
.desc {
  text-align: center;
  font-family: fantasy;
  font-size: 16px;
  color: black; }

/*hiking image*/
.gallery_hiking {
  display: inline-block;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 8;
  grid-row-end: 9;
  width: 250px;
  height: 250px;
  margin-left: 35px; }

.hike_img {
  height: 250px;
  width: 250px;
  z-index: 100; }

.hike_img:hover {
  transition: all 2s ease-in-out;
  transform: rotate(360deg) scale(1); }

#hiking_head:focus {
  border: 2px solid red; }

.hike:focus {
  border: 2px solid green; }

/*all anchor borders*/
a * {
  border-radius: 10px; }

/*camping image*/
.gallery_camping {
  display: inline-block;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
  width: 250px;
  height: 250px;
  margin-left: 60px; }

.camp_img {
  height: 250px;
  width: 250px; }

.camp_img:hover {
  transition: all 2s ease-in-out;
  transform: rotate(-360deg) scale(1); }

/*fishing image*/
.gallery_fishing {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 9;
  width: 250px;
  height: 250px;
  margin-left: 60px; }

.fish_img {
  height: 250px;
  width: 250px; }

.fish_img:hover {
  transition: all 2s ease-in-out;
  transform: rotate(360deg) scale(1); }

/*rock climbing image*/
.gallery_rock {
  display: inline-block;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9;
  width: 250px;
  height: 250px;
  margin-left: 65px; }

.rock_img {
  height: 250px;
  width: 250px; }

.rock_img:hover {
  transition: all 2s ease-in-out;
  transform: rotate(-360deg) scale(1); }

/*descriptions*/
.activities_desc {
  display: block;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 11;
  grid-row-end: 15; }

#hiking_desc, #camping_desc, #fishing_desc, #rock_desc {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-left: 60px;
  color: #fff;
  overflow: visible;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 12px; }

#hiking_desc {
  margin-top: 15px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 14;
  background-image: url(../images/hikers.jpg);
  background-position: left top; }

#camping_desc {
  margin-top: 15px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 14;
  background-image: url(../images/camping.jpg); }

#fishing_desc {
  margin-top: 15px;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 13;
  grid-row-end: 14;
  background-image: url(../images/fishing.jpg); }

#rock_desc {
  margin-top: 15px;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 13;
  grid-row-end: 14;
  background-image: url(../images/rock_climb.jpeg); }

footer {
  display: inline-block;
  margin-top: 20px;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 20;
  grid-row-end: 21;
  border-radius: 10px;
  z-index: 2;
  position: relative;
  background-color: transparent;
  border: 1px solid black; }

.foot {
  text-align: center;
  font-size: 16px;
  color: #000; }

/*responsiveness*/
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .container {
    width: 1440px;
    height: 240vh;
    background-size: cover; }

  .main_img {
    display: block;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom-left-radius: 10px; }

  .company_name {
    font-size: 55px; }

  /*   nav bar */
  nav {
    text-align: center; }

  p {
    font-size: 25px; }

  li, a {
    padding-left: 6px;
    padding-right: 3px;
    margin-left: 4px; }

  .dropdown-content a {
    font-size: 16px;
    color: black;
    padding: 5px 5px;
    display: block; }

  a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 5px 3px; }

  .outdoor_activities {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10;
    margin-bottom: 50px; }

  #activities_heading {
    display: block;
    grid-row-start: 3;
    font-size: 35px; }

  .gallery_hiking {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 200px;
    height: 200px;
    margin-left: 270px; }

  .hike_img {
    height: 200px;
    width: 200px;
    z-index: 100; }

  .gallery_camping {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 200px;
    height: 200px;
    margin-left: 20px; }

  .camp_img {
    height: 200px;
    width: 200px; }

  .gallery_fishing {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 200px;
    height: 200px;
    margin-left: 20px; }

  .fish_img {
    height: 200px;
    width: 200px; }

  .gallery_rock {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 200px;
    height: 200px;
    margin-left: 20px; }

  .rock_img {
    height: 200px;
    width: 200px; }

  .activities_desc {
    display: block;
    font-size: 19px;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 15; }

  #hiking_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 95px;
    margin-top: 100px; }

  #camping_desc {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-bottom: 15px;
    margin-left: 75px; }

  #fishing_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 65px; }

  #rock_desc {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 11;
    margin-left: 75px; }

  #hiking_desc, #camping_desc, #fishing_desc, #rock_desc {
    display: inline-block;
    margin-top: 15px;
    width: 250px;
    height: 250px;
    font-size: 12px; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 1024px;
    height: 260vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-size: cover; }

  .main_img {
    display: block;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom-left-radius: 10px; }

  /*   nav bar */
  nav {
    text-align: center; }

  p {
    font-size: 20px; }

  li, a {
    padding-left: 6px;
    padding-right: 3px;
    margin-left: 4px; }

  .dropdown-content a {
    font-size: 16px;
    color: black;
    padding: 5px 5px;
    display: block;
    margin-left: -10px; }

  a, .dropbtn {
    display: inline-block;
    color: white;
    padding: 5px 3px; }

  .company_name {
    font-size: 45px; }

  .outdoor_activities {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10; }

  #activities_heading {
    display: block;
    grid-row-start: 3;
    font-size: 25px; }

  .gallery_hiking {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    height: 150px;
    margin-left: 160px; }

  .hike_img {
    height: 150px;
    width: 150px;
    z-index: 100; }

  .gallery_camping {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    height: 150px;
    margin-left: 20px; }

  .camp_img {
    height: 150px;
    width: 150px; }

  .gallery_fishing {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 150px;
    height: 150px;
    margin-left: 20px; }

  .fish_img {
    height: 150px;
    width: 150px; }

  .gallery_rock {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 150px;
    height: 150px;
    margin-left: 20px; }

  .rock_img {
    height: 150px;
    width: 150px; }

  .activities_desc {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 15; }

  #hiking_desc {
    display: inline-block;
    margin-top: 15px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    width: 250px;
    height: 250px;
    font-size: 12px;
    margin-left: 195px; }

  #camping_desc {
    display: inline-block;
    margin-top: 15px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 9;
    width: 250px;
    height: 250px;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: 105px; }

  #fishing_desc {
    display: inline-block;
    margin-top: 15px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
    width: 250px;
    height: 250px;
    font-size: 12px;
    margin-left: 195px; }

  #rock_desc {
    display: inline-block;
    margin-top: 15px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 11;
    width: 250px;
    height: 250px;
    font-size: 12px;
    margin-left: 105px; } }
@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 768px;
    height: 230vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-size: cover; }

  .main_img {
    display: block;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom-left-radius: 10px; }

  /*   nav bar */
  nav {
    text-align: center; }

  p {
    margin-top: -5px;
    font-size: 20px; }

  li, a {
    display: inline-block;
    font-size: 14px;
    margin-left: 4px; }

  .dropdown-content a {
    font-size: 14px;
    color: black;
    padding: 2px 2px;
    display: block;
    margin-left: 0px; }

  a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 3px;
    text-decoration: none; }

  .company_name {
    font-size: 45px; }

  .outdoor_activities {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10; }

  #activities_heading {
    display: block;
    grid-row-start: 3;
    font-size: 25px; }

  .gallery_hiking {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    height: 150px;
    margin-left: 35px; }

  .hike_img {
    height: 150px;
    width: 150px;
    z-index: 100; }

  .gallery_camping {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    height: 150px;
    margin-left: 20px; }

  .camp_img {
    height: 150px;
    width: 150px; }

  .gallery_fishing {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 150px;
    height: 150px;
    margin-left: 20px; }

  .fish_img {
    height: 150px;
    width: 150px; }

  .gallery_rock {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 150px;
    height: 150px;
    margin-left: 20px; }

  .rock_img {
    height: 150px;
    width: 150px; }

  .activities_desc {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 15; }

  #hiking_desc {
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    width: 200px;
    height: 200px;
    font-size: 12px;
    margin-left: 105px;
    margin-top: 80px; }

  #camping_desc {
    display: inline-block;
    margin-top: 15px;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    width: 200px;
    height: 200px;
    font-size: 12px;
    margin-left: 105px; }

  #fishing_desc {
    display: inline-block;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;
    width: 200px;
    height: 200px;
    font-size: 12px;
    margin-left: 105px;
    margin-top: 50px; }

  #rock_desc {
    display: inline-block;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: 13;
    width: 200px;
    height: 200px;
    font-size: 12px;
    margin-left: 105px;
    margin-top: 50px; } }
@media screen and (min-width: 375px) and (max-width: 425px) {
  .container {
    width: 425px;
    height: 330vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-size: cover; }

  .main_img {
    display: block;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-bottom-left-radius: 10px; }

  /*   nav bar */
  nav {
    position: sticky;
    padding: 2px;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    z-index: 1; }

  ul {
    text-align: center; }

  p {
    margin-top: -5px;
    font-size: 15px; }

  li, a {
    margin-left: 4px; }

  .dropdown-content a {
    padding: 2px 2px;
    display: block;
    color: black;
    font-size: 14px; }

  a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 3px;
    font-size: 14px;
    text-decoration: none; }

  .company_name {
    font-size: 25px; }

  .outdoor_activities {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10; }

  #activities_heading {
    display: block;
    grid-row-start: 3;
    font-size: 25px; }

  .gallery_hiking {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    height: 150px;
    margin-left: 35px; }

  .hike_img {
    height: 150px;
    width: 150px;
    z-index: 100; }

  .gallery_camping {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    height: 150px;
    margin-left: 35px; }

  .camp_img {
    height: 150px;
    width: 150px; }

  .gallery_fishing {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 150px;
    height: 150px;
    margin-left: 35px; }

  .fish_img {
    height: 150px;
    width: 150px; }

  .gallery_rock {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 150px;
    height: 150px;
    margin-left: 35px; }

  .rock_img {
    height: 150px;
    width: 150px; }

  .activities_desc {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 15; }

  #hiking_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 105px; }

  #camping_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 105px; }

  #fishing_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 105px; }

  #rock_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;
    margin-left: 105px; }

  #hiking_desc, #camping_desc, #fishing_desc, #rock_desc {
    display: inline-block;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    font-size: 11px; }

  footer {
    padding: 0px;
    height: 25px; } }
@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    width: 375px;
    height: 300vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-size: cover; }

  .main_img {
    display: block;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2; }

  /*   nav bar */
  nav {
    position: sticky;
    padding: 2px;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    z-index: 1; }

  ul {
    text-align: center; }

  p {
    margin-top: -5px;
    font-size: 15px; }

  li, a {
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px; }

  a, .dropbtn {
    display: inline-block;
    color: white;
    font-size: 14px;
    padding: 3px 3px; }

  .dropdown-content a {
    color: black;
    padding: 15px 0px;
    display: block;
    line-height: 2px; }

  .company_name {
    font-size: 25px; }

  .outdoor_activities {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10; }

  #activities_heading {
    display: block;
    grid-row-start: 3;
    font-size: 25px; }

  .gallery_hiking {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 125px;
    height: 125px;
    margin-left: 30px; }

  .hike_img {
    height: 125px;
    width: 125px;
    z-index: 100; }

  .gallery_camping {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 125px;
    height: 125px;
    margin-left: 40px; }

  .camp_img {
    height: 125px;
    width: 125px; }

  .gallery_fishing {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 125px;
    height: 125px;
    margin-left: 30px; }

  .fish_img {
    height: 125px;
    width: 125px; }

  .gallery_rock {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 125px;
    height: 125px;
    margin-left: 40px; }

  .rock_img {
    height: 125px;
    width: 125px; }

  .activities_desc {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 15; }

  #hiking_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 80px; }

  #camping_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 80px; }

  #fishing_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 80px; }

  #rock_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;
    margin-left: 80px; }

  #hiking_desc, #camping_desc, #fishing_desc, #rock_desc {
    display: inline-block;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    font-size: 11px; }

  footer {
    padding: 0px;
    height: 25px; } }
@media screen and (max-width: 320px) {
  .container {
    width: 320px;
    height: 300vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-size: cover; }

  .main_img {
    display: block;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2; }

  /*   nav bar */
  nav {
    position: sticky;
    padding: 2px;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 10px;
    z-index: 1; }

  ul {
    text-align: center; }

  p {
    margin-top: -5px;
    font-size: 15px; }

  li, a {
    font-size: 12px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 2px; }

  .dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 2px; }

  a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none; }

  .company_name {
    font-size: 24px; }

  .outdoor_activities {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10; }

  #activities_heading {
    display: block;
    grid-row-start: 3;
    font-size: 18px; }

  .gallery_hiking {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 115px;
    height: 115px;
    margin-left: 28px; }

  .hike_img {
    height: 115px;
    width: 115px;
    z-index: 100; }

  .gallery_camping {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 115px;
    height: 115px;
    margin-left: 22px; }

  .camp_img {
    height: 115px;
    width: 115px; }

  .gallery_fishing {
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 115px;
    height: 115px;
    margin-left: 28px; }

  .fish_img {
    height: 115px;
    width: 115px; }

  .gallery_rock {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    width: 115px;
    height: 115px;
    margin-left: 22px; }

  .rock_img {
    height: 115px;
    width: 115px; }

  .activities_desc {
    display: block;
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 15; }

  #hiking_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    margin-left: 60px; }

  #camping_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 9;
    grid-row-end: 10;
    margin-left: 60px; }

  #fishing_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 12;
    margin-left: 60px; }

  #rock_desc {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;
    margin-left: 60px; }

  #hiking_desc, #camping_desc, #fishing_desc, #rock_desc {
    display: inline-block;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    font-size: 11px; }

  footer {
    padding: 0px;
    height: 25px; } }

/*# sourceMappingURL=index.css.map */
