@import "partials/contact_us_responsive.scss";

//fonts

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

//container

.container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    width: 100%;
    height: 97vh;
    background-color: #1D140F;
    background-image: url(../images/blurred_background.jpg);
    background-size: cover;
}

//container: display in grid format, grid template rows and columns: ten fractions, width and height set, background image imported and cover the container


//nav bar
.main_nav {
  position: sticky;
  padding: 2px;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 2;
  display: block;
  background-color: transparent;
  border-radius: 10px;
  z-index: 1; }

.main_nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  text-align: center; 
}

.main_nav_li, .main_nav_a, .dropbtn{
  display: inline-block;
  text-decoration: none;
  font-family: cursive;
 margin-left: 5px;
}

.main_nav_li, .main_nav_a {
padding-left: 6px;
padding-right: 6px;
margin-right: 6px;
margin-left: 8px;}

.dropbtn{
    margin-left: 6px;
    margin-right: 2px;
}
p{
    margin-top: -10px;
    margin-bottom: 0px;
    color: black;
    font-family: 'Lobster', cursive;
}
img{
    width: 40px;
    height: 40px;
}
.main_nav_a:hover {
  color: whitesmoke;
  border-radius: 8px; }



.main_nav_a, .dropbtn {
  display: inline-block;
  color: black;
    font-size: 30px;
  text-align: center;
  text-decoration: none; }

.main_nav_a:hover, .dropdown:hover, main_nav_li:hover, .dropbtn:hover {
  background-color: #BE5731;
border-radius: 10px;}

li.dropdown {
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;}

.dropdown-content a {
font-size: 20px;
padding: 5px 5px;
display: block;
color: black;
margin-left: 0px;
}

.dropdown-content main_nav_a:hover {
  background-color: #f1f1f1; }

.dropdown:hover .dropdown-content {
  display: block; }

//company name
.company_name {
  font-size: 50px;
  color: white;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px #ff0000; }

//main header
.main_header{
    display: block;
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 2;
    font-size: 25px;
    text-align: center;
    color: #fff;
    font-family: 'Gloria Hallelujah', cursive;
    font-variant: small-caps;
}


//form

form {
  display: block;
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 10; }

input[type=text], [type=email], select, textarea {
  width: 300px;
  padding: 10px 20px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
  margin-left: 10px; }

.first_name_container {
  display: block;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5; }

label {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  vertical-align: top; 
  color: #000;}

.first_name_label {
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5; }

.first_name_input {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 5;
  margin-left: 10px; }

.last_name_container {
  display: block;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6; }

.last_name_label {
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 5px; }

.last_name_input {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 6;
  margin-left: 10px; }

.email_container {
  display: block;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7; }

.email_label {
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
  margin-left: 50px; }

.email_input {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 7;
  margin-left: 20px; 
}

.activity_container {
  display: block;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8; }

.activity_label {
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-left: 30px; }

.activity_input {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 6;
  grid-row-end: 7;
  margin-left: 15px; }

.comments_container {
  display: block;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9; 
  margin-left: 170px;
}

.comments_label {
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 8;
  grid-row-end: 9;
  margin-left: 40px;
  margin-bottom: -20px; }

textarea {
  resize: none; }

.comments_input {
  display: inline-block;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 9;
  margin-left: -20px; 
}

button{
    padding: 8px; 
    font-family:monospace;
    font-size: 14px;
    margin-left: 170px;
}

a{
  text-align: center;
  color: #fff;
  font-family: 'Kaushan+Script', cursive;
  text-decoration: none; }

a:active {
  background-color: #4CAF50;
  color: white; }

footer {
  display: inline-block;
  margin-top: 15px;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 20;
  grid-row-end: 21;
  border-radius: 10px;
  z-index: 2;
  position: relative; 
  background-color: transparent;
  border: 1px solid black;}

.foot{
    text-align: center;
    font-size: 20px;
    color: #000;
}

/*responsiveness*/

@include large_laptop;

@include laptop;

@include tablet;

@include large_mobile;

@include medium_mobile;

@include small_mobile;

